/* DH Benelux styling */

#header {
    width: 100%;
    height: auto;
}

#logo-wrapper {
	float: left;
	width: 100%;
}

#footer-wrapper {
    border: none;
    border-radius: 3px;
    padding: 5px;
}

div.logo {
	margin: 0;
	float: none;
}

.logo img {
    display: block;
    margin: 0 auto;
    height: auto;
}

#content {
    margin: 10px;
}

.content {
    margin-bottom: 15px;
}

#header .content {
    margin-bottom: 0;
}

#menu {
    width: 100%;
    padding-bottom: 10px;
}

#nav {
    float: none;
    margin: 0;
}

#nav .menu {
    float: none;
    margin-bottom: 0;
    text-align: center;
}

#nav .menu li {
    float: none;
    display: inline-block;
}

#nav .menu a {
    margin-left: 10px;
    margin-right: 13px;
    padding-left: 0;
    padding-right: 0;
}

.form-textarea-wrapper textarea {
    width: 50%;
}

a:link, a:visited {
    text-decoration: underline;
}

.button:first-child, .image-button:first-child {
    margin-left: 1em;
    margin-right: 1em;
}

/* Color styling */

body {
    background: #fff;
}

#logo-wrapper {
    background-color: #ea3325;
}

#menu {
    background: #ea3325;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#footer-wrapper {
    color: #fff;
}

#nav .menu li {
    border-right: 1px solid #ea3325;
}

#nav .menu a,
#nav .menu a:visited {
    color: #fff;
}

#nav .menu li li,
#nav .menu li li li,
#nav .menu li li:first-child a:hover,
#nav .menu li li a:hover,
#nav .menu li li:first-child a.is-active,
#nav .menu li li a.is-active,
#nav .menu li li.active-trail:first-child,
#nav .menu li.active-trail li,
#nav .menu li li.active-trail:first-child a.is-active,
#nav .menu li.active-trail li a.is-active,
#nav .menu li li:hover,
#nav .menu li li li:hover {
    background: #ea3325;
}

#nav .menu li a,
#nav .menu li a:hover,
#nav .menu li:first-child a:hover,
#nav .menu li a.is-active,
#nav .menu li:first-child a.is-active,
#nav .menu li.active-trail,
#nav .menu li.active-trail:first-child,
#nav .menu li.active-trail a.is-active,
#nav .menu li.active-trail:first-child a.is-active {
    background: #ea3325;
}

#nav .menu a:hover {
	border-bottom: 2px solid white;
	text-decoration: none;
}

#nav .menu ul {
    box-shadow: none;
}

.sidebar .block,
.content-top,
.content-bottom,
.preview .node,
.preview .comment,
.node-sticky,
.breadcrumb,
.comment,
#aggregator .feed-source,
.profile,
div.admin-panel .body,
#bottom-wrapper {
    background-color: transparent;
}

th,
div.admin-panel h3,
#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
    background-color: transparent;
    border-bottom: 1px solid #bbb;

}

ul.pager li.pager-current,
.item-list .pager li a:hover {
    background-color: #005a8c;
}

h2.site-name a {
    color: #000;
}